@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Shopping</h3>
    <img src="/images/eShop-logo.png" class="img-fluid" asp-append-version="true" />
</div>
